@font-face {
    font-family: "Metropolis_Regular";
    src: url(../fonts/metropolis-regular.otf);
  }
  
  @font-face {
    font-family: "Metropolis_Medium";
    src: url(../fonts/metropolis-medium.otf);
  }
  
  @font-face {
    font-family: "Metropolis_ExtraBold";
    src: url(../fonts/metropolis-extrabold.otf);
  }

  .bot {
    padding-bottom: 2.5rem; 
  }

  .bot h1 {
    padding-left: 10%;
    padding-right: 10%;
    color: #07714c;
    font-family: "Metropolis_ExtraBold";
    text-align: center;
    font-size:90px;
  }
  
  .bot p {
    color: #07714c;
    font-family: "Metropolis_Medium";
    text-align: center;
    font-size: 20px;
    padding-left: 15%;
    padding-right: 15%
  }
  
  .bot a {
    color: #064730;
    font-family: "Metropolis_Medium";
    text-decoration: underline;
    font-size: 20px;
  }
  
  .bot a:hover{
    color: #91b934;
    font-family: "Metropolis_Medium";
    font-size: 20px;
  }