@font-face {
    font-family: "Metropolis_Regular";
    src: url(../fonts/metropolis-regular.otf);
  }
  
  @font-face {
    font-family: "Metropolis_Medium";
    src: url(../fonts/metropolis-medium.otf);
  }
  
  @font-face {
    font-family: "Metropolis_ExtraBold";
    src: url(../fonts/metropolis-extrabold.otf);
  }

.notfound {
  padding-bottom: 2.5rem; 
}

.notfound h1 {
    padding-left: 10%;
    padding-right: 10%;
    color: #07714c;
    font-family: "Metropolis_ExtraBold";
    text-align: center;
    font-size:90px;
  }
  
.notfound p {
    color: #07714c;
    font-family: "Metropolis_Medium";
    text-align: center;
    font-size: 20px;
    padding-left: 15%;
    padding-right: 15%
  }
  