@font-face {
    font-family: "Metropolis_Regular";
    src: url(../fonts/metropolis-regular.otf);
  }
  
  @font-face {
    font-family: "Metropolis_Medium";
    src: url(../fonts/metropolis-medium.otf);
  }
  
  @font-face {
    font-family: "Metropolis_ExtraBold";
    src: url(../fonts/metropolis-extrabold.otf);
  }

  .actualapp {
    padding-bottom: 3.5rem; 
  }

  .actualapp h1 {
    padding-left: 10%;
    padding-right: 10%;
    color: #07714c;
    font-family: "Metropolis_ExtraBold";
    text-align: center;
    font-size:90px;
  }
  
  .actualapp p {
    color: #07714c;
    font-family: "Metropolis_Medium";
    text-align: center;
    font-size: 20px;
    padding-left: 22%;
    padding-right: 22%
  }
  
  .actualapp hr {
    border-color: #07714c;
    padding: 20px, 0px;
    width: 45%;
  }
  
  .actualapp button {
    background-color: #07714c;
    color: #f0d3ae;
    border: none;
    padding: 10px 30px; 
    border-radius: 40px;
    font-family: "Metropolis_ExtraBold";
    font-size: 25px;
    float: center;
  }

  .hi {
    padding-left: 111px;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .actualapp img {
    width: 40%;
    padding-bottom: 5%;
  }
  