@font-face {
  font-family: "Metropolis_Regular";
  src: url(./fonts/metropolis-regular.otf);
}

@font-face {
  font-family: "Metropolis_Medium";
  src: url(./fonts/metropolis-medium.otf);
}

@font-face {
  font-family: "Metropolis_ExtraBold";
  src: url(./fonts/metropolis-extrabold.otf);
}

.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: #f0d3ae;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f0d3ae;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f0d3ae;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  padding-top: 100px;
  background-color: #f0d3ae;
  position: relative;
  min-height: 100vh;
}

#logo {
  float: left;
  width:120px;
}

.back-to-home {
  border: 2px solid black;
  background-color: #f0d3ae;
  color: black;
  padding: 0px 12px;
  border-color: #07714c;
  border-radius: 18px;
}

.back-to-home p {
  color: #07714c;
  font-family: "Metropolis_ExtraBold";
  padding-top: 12px;
  font-size:17px;
  text-align: center;
  margin: none;
}

.home {
  position: absolute;
  padding-top: 6%;
  padding-left: 10%;
}

.home h1 {
  color: #07714c;
  font-family: "Metropolis_ExtraBold";
  font-size: 130px;
  line-height: 100%;
}

.home p {
  color: #07714c;
  font-family: "Metropolis_Medium";
  font-size: 35px;
  text-align: left;
}

.main-button {
  background-color: #07714c;
  padding: 0px 25px; 
  border: none;
  border-radius: 40px;
  float: left;
  margin-top: 10px;
}

.main-button p {
  color: #f0d3ae;
  font-family: "Metropolis_ExtraBold";
  padding-left: 0px;
  padding-top: 15px;
  font-size:30px;
  text-align: center;
  margin: none;
  line-height: 40px;
}

.footer {
  /* padding-bottom: 10%; */
  color: #064730;
  font-family: "Metropolis_Regular";
  text-decoration: underline;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

h1 {
  color: #07714c;
  font-family: "Metropolis_ExtraBold";
  text-align: left;
  /* padding-left: 50px; */
}